button:hover{
    cursor: pointer;
}

h1{
    color: blueviolet;
}

.modo_sexo{
    height: 2000px;
    position: absolute;
    display: none;
    width: 100%;
    background-color: red ;
    z-index: 1000 ;

}


#gato{
    background-color: rgb(19, 210, 92);
    border-color: rgb(120, 12, 244);
    color: azure;
    font-size: xx-large;
    padding: 32px;
    text-align: center;
    border-radius: 2px;
}